@import './variables.scss';

div[data-app='true'] {
  background: url('../assets/background.jpg') no-repeat center center fixed !important;
  background-size: cover;
}

.theme--light.v-app-bar.v-toolbar.v-sheet {
  background-color: #272727;
  color: #{map-get($material-light, "white")};
}

.theme--light.v-btn:not(.v-btn--has-bg), .theme--light.v-icon {
  color: inherit;
}

.theme--light.v-sheet {
  background-color: rgba(255, 255, 255, 0.17);

  .v-card__title {
    background-color: rgba(255, 255, 255, 0.54);
  }
}

.theme--light.v-btn.v-btn--has-bg {
  background-color: #fee5bd;
  border: 1px solid #ecca92;
  color: #2c2721;
}

.v-dialog {
  background-color: #{map-get($material-light, "white")};
}

.theme--light.v-menu__content {
  background-color: #{map-get($material-light, "white")};
}

.v-toolbar-pollen-item {
  display: flex;
  align-items: center;
}

.v-card__title--dense {
  padding: 8px 16px;
}

.row.row--separated-cols {
  .col:not(:last-child) {
    border-right: 1px solid #{map-get($material-light, "primary")};

    padding-right: 16px;
  }

  .col:not(:first-child) {
    border-left: 1px solid rgba(255, 255, 255, 0.5);

    padding-left: 16px;
  }
}

.row.row--dashboard-first-row {
  height: 80px;
}
