@import './variables.scss';

.container {
  padding-left: 24px;
  padding-right: 24px;
}

nav.v-navigation-drawer {
  background: no-repeat center center fixed !important;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
                    url('../assets/honeyprint-sx2-background.jpg') !important;
  background-size: cover !important;
}

div[data-app='true'] {
  background: url('../assets/honeyprint-sx2-background.jpg') no-repeat center center fixed !important;
  background-size: cover !important;
}

.theme--light.v-app-bar.v-toolbar.v-sheet {
  background-color: #272727;
  color: #{map-get($material-light, "white")};
}

.theme--light.v-btn:not(.v-btn--has-bg), .theme--light.v-icon {
  color: inherit;
}

.theme--light.v-sheet {
  background-color: rgba(255, 255, 255, 0.17);

  .v-card__title {
    background-color: rgba(255, 255, 255, 0.54);
  }
}

.theme--light.v-btn.v-btn--has-bg {
  background-color: #fee5bd;
  border: 1px solid #ecca92;
}

.v-dialog {
  background-color: #{map-get($material-light, "white")};
}

.theme--light.v-menu__content {
  background-color: #{map-get($material-light, "white")};
}

.v-toolbar-pollen-item {
  display: flex;
  align-items: center;
}

.v-navigation-drawer__content {
  .v-toolbar-pollen-item {
    .v-input {
      padding-top: 0px;
      margin-top: 0px;
    }
  }
}

$pollen-row-padding: 8px 24px;

.v-card__title--dense {
  padding: $pollen-row-padding;
}

.row.row--separated-cols {
  & > div:not(:last-child) {
    border-right: 1px solid #eda900;

    padding-right: 16px;
  }

  & > div:not(:first-child) {
    border-left: 1px solid rgba(255, 255, 255, 0.5);

    padding-left: 16px;
  }

  @media #{map-get($display-breakpoints, 'sm-and-down')} {
    & div.col-12 {
      border: none;
      padding-left: inherit;
      padding-right: inherit;
    }

    & div.col-6:not(:last-child) {
      border-left: none;
      padding-left: inherit;
    }

    &.flex-md-row.flex-column {
      & div {
        border: none;
        padding-left: inherit;
        padding-right: inherit;
      }
    }
  }
}

hr.hr--separated-rows {
  margin: 16px 16px;

  border-top: 1px solid #eda900;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.v-card__title + .v-card__text.v-card__text--with-rows-highlighted {
  padding-top: 0px;
}

.v-card__text--with-rows-highlighted {
  padding: 0px;

  & > .row {
    margin: 0px;
    /* margin-left: 0px; */
    /* margin-right: 0px; */
    padding: $pollen-row-padding;
  }

  & > .row.row--highlighted {
    background-color: rgba(255, 255, 255, 0.1724);
    /* padding: 4px; */
  }
}

.pollen-attr-header {
  font-weight: 500;
  color: rgba(44, 34, 33, 0.7);
  line-height: 1.2rem;
}

.theme--light.v-btn,
.theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled),
.pollen-attr-header {
  color: rgba(97, 80, 82, 0.8);
}

.theme--light.v-input--switch .v-input--switch__track,
.theme--light.v-input--switch.v-input--is-disabled:not(.v-input--is-dirty) .v-input--switch__track {
  color: rgba(255,255,255,0.7) !important;
}


.theme--light.v-card,
.theme--light.v-card > .v-card__text,
.theme--light.v-card > .v-card__subtitle {
  color: rgba(44, 34, 33, 1.0);
}

.v-input--checkbox--extruder-selection {
  padding: 0px;
  margin: 0px;
}

.v-card.v-card--highlighted {
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.34);
}

.w-100 {
  width: 100%;
}

.theme--light.v-data-table {
  background-color: rgba(255, 255, 255, 0.1724);

  tbody {
    color: rgba(97, 80, 82, 0.8);
  }

  thead, thead.v-data-table-header {
    background-color: rgba(255, 255, 255, 0.34);
    th {
      color: rgba(97, 80, 82, 0.8);
    }

    th.sortable.active, th.sortable:hover {
      color: #{map-get($material-light, "primary")};
      .v-data-table-header__icon {
      color: #{map-get($material-light, "primary")};
      }
    }
  }
}

.theme--light.v-data-table.v-data-table--no-bg {
  background-color: transparent;

  &:hover, tr:hover, thead {
    background-color: transparent;
  }
}

.theme--light.v-toolbar.v-sheet {
  background-color: rgba(255, 255, 255, 0.5124);
}

.theme--light.v-data-table.base-file-list {
  thead {
    background-color: inherit;
  }
}

.v-slider {
  $primary-bis-slider: #feecc9;

  .v-slider__track-background.primary, .v-slider__track-background.primary.lighten-3 {
    background-color: $primary-bis-slider !important;
    border-color: $primary-bis-slider !important;
  }

  .v-slider__thumb-label.primary {
    background-color: $primary-bis-slider !important;
    border-color: $primary-bis-slider !important;

    color: black;
  }
}


.h-100 {
  height: 100% !important;
}


.v-application,
.v-card__title,
.v-input,
.v-btn,
.v-card__subtitle, .v-card__text,
.v-list-item__title,
.v-list-item--dense .v-list-item__title, .v-list-item--dense .v-list-item__subtitle, .v-list--dense .v-list-item .v-list-item__title, .v-list--dense .v-list-item .v-list-item__subtitle,
.v-alert,
.v-label {
  @media #{map-get($display-breakpoints, 'lg-and-up')} {
    font-size: 0.9rem;
  }

  @media #{map-get($display-breakpoints, 'md-and-down')} {
    font-size: 0.8rem;
  }
}

.font-size-0875 {
  @media #{map-get($display-breakpoints, 'lg-and-up')} {
    font-size: 0.9rem !important;
  }

  @media #{map-get($display-breakpoints, 'md-and-down')} {
    font-size: 0.8rem !important;
  }
}
.v-application {
    line-height: 1.2;
}
.v-btn {
  letter-spacing: 0em;
}

.v-bottom-navigation.theme--light {
  background-color: transparent;
  box-shadow: none;

  .v-btn:not(.v-btn--active) {
    color: rgba(97, 80, 82, 0.8) !important;
  }

  .v-btn.v-btn--active {
    color: #{map-get($material-light, "primary")} !important;
  }
}

  @media #{map-get($display-breakpoints, 'sm-and-down')} {
.v-card__title--dense {
  padding: 8px 16px;
}
}
//////////////////

.theme--light.v-data-table tbody {
    color: rgba(97,80,82,1);
}

.v-btn > .v-btn__content .v-icon {
    font-size: 20px;
    margin-right: 4px!important;
}

.v-icon.notranslate.mdi.mdi-arrow-split-horizontal.theme--light {
    font-size: 18px !important;
}

.v-card__title--dense {
    padding: 8px 16px;
}

.theme--light.v-input input {
    color: rgba(97, 80, 82, 0.8);
}

.v-card__text--with-rows-highlighted > .row {
    padding: 8px 16px;
}

.v-application .mt-8 {
    margin-bottom: 12px !important;
}

.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) > .v-input__control > .v-input__slot {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: white !important;
}
.v-btn--is-elevated {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.v-icon.v-icon.v-icon--link {
    color: rgba(97, 80, 82, 0.8);
}

.v-application--is-ltr .ms-1 {
    margin-left: 8px !important;
    margin-bottom: 12px !important;
}
.v-card__text--with-rows-highlighted > .row {
    padding: 4px 16px;
}

.v-application .subtitle-2 {
    font-size: inherit !important;
}

.theme--light.v-tabs-items {
    background-color: white !important;
}

.theme--light.v-tabs > .v-tabs-bar {
    background-color: #FFFFFF !important;
}

.v-application .mt-2 {
    margin-top: 4px!important;
}
.v-application .mt-3 {
    margin-top: 4px!important;
}

small {
    font-size: 70%;
}

.v-text-field .v-label--active {
    -webkit-transform: translateY(-18px) scale(0.70);
    transform: translateY(-18px) scale(0.70);
}

.CodeMirror, .vue-codemirror {
    font-size: 1rem !important;
}
