@import './variables.scss';

.container {
  padding-left: 24px;
  padding-right: 24px;
}

nav.v-navigation-drawer {
  background: no-repeat center center fixed !important;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
                    url('../assets/honeyprint-sx2-background.jpg') !important;
  background-size: cover !important;
}

div[data-app='true'] {
  background: url('../assets/honeyprint-sx2-background.jpg') no-repeat center center fixed !important;
  background-size: cover !important;
}

.theme--light.v-app-bar.v-toolbar.v-sheet {
  background-color: #272727;
  color: #{map-get($material-light, "white")};
}

.theme--light.v-btn:not(.v-btn--has-bg), .theme--light.v-icon {
  color: inherit;
}

.theme--light.v-sheet {
  background-color: rgba(255, 255, 255, 0.17);

  .v-card__title {
    background-color: rgba(255, 255, 255, 0.54);
  }
}

.theme--light.v-btn.v-btn--has-bg {
  background-color: #fee5bd;
  border: 1px solid #ecca92;
}

.v-dialog {
  background-color: #{map-get($material-light, "white")};
}

.theme--light.v-menu__content {
  background-color: #{map-get($material-light, "white")};
}

.v-toolbar-pollen-item {
  display: flex;
  align-items: center;
}

.v-navigation-drawer__content {
  .v-toolbar-pollen-item {
    .v-input {
      padding-top: 0px;
      margin-top: 0px;
    }
  }
}

$pollen-row-padding: 8px 24px;

.v-card__title--dense {
  padding: $pollen-row-padding;
}

.row.row--separated-cols {
  & > div:not(:last-child) {
    border-right: 1px solid #eda900;

    padding-right: 16px;
  }

  & > div:not(:first-child) {
    border-left: 1px solid rgba(255, 255, 255, 0.5);

    padding-left: 16px;
  }

  @media #{map-get($display-breakpoints, 'sm-and-down')} {
    & div.col-12 {
      border: none;
      padding-left: inherit;
      padding-right: inherit;
    }

    & div.col-6:not(:last-child) {
      border-left: none;
      padding-left: inherit;
    }
  }
}

hr.hr--separated-rows {
  margin: 16px 16px;

  border-top: 1px solid #eda900;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.v-card__title + .v-card__text.v-card__text--with-rows-highlighted {
  padding-top: 0px;
}

.v-card__text--with-rows-highlighted {
  padding: 0px;

  & > .row {
    margin: 0px;
    /* margin-left: 0px; */
    /* margin-right: 0px; */
    padding: $pollen-row-padding;
  }

  & > .row.row--highlighted {
    background-color: rgba(255, 255, 255, 0.1724);
    /* padding: 4px; */
  }
}

.pollen-attr-header {
  color: rgba(44, 34, 33, 0.7);
}

.theme--light.v-btn,
.theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
  color: #5f5449;
}

.theme--light.v-input--switch.v-input--is-disabled:not(.v-input--is-dirty) .v-input--switch__track {
  color: rgba(255,255,255,0.7) !important;
}

.theme--light {
  .v-list, .v-list--dense {
    .v-list-item.v-list-item--active {
      font-weight: 600;
      .v-list-item__title {
        font-weight: 600;
      }
    }
  }
}

.theme--light.v-card,
.theme--light.v-card > .v-card__text,
.theme--light.v-card > .v-card__subtitle {
  color: rgba(44, 34, 33, 1.0);
}

.v-input--checkbox--extruder-selection {
  padding: 0px;
  margin: 0px;
}

.v-card.v-card--highlighted {
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.34);
}

.w-100 {
  width: 100%;
}

.theme--light.v-data-table {
  background-color: rgba(255, 255, 255, 0.1724);

  thead {
    background-color: rgba(255, 255, 255, 0.34);
  }
}

.theme--light.v-toolbar.v-sheet {
  background-color: rgba(255, 255, 255, 0.5124);
}

.theme--light.v-data-table.base-file-list {
  thead {
    background-color: inherit;
  }
}

.v-slider {
  $primary-bis-slider: #feecc9;

  .v-slider__track-background.primary, .v-slider__track-background.primary.lighten-3 {
    background-color: $primary-bis-slider !important;
    border-color: $primary-bis-slider !important;
  }

  .v-slider__thumb-label.primary {
    background-color: $primary-bis-slider !important;
    border-color: $primary-bis-slider !important;

    color: black;
  }
}

