@import './variables.scss';

div[data-app='true'] {
  background: url('../assets/background.jpg') no-repeat center center fixed !important;
  background-size: cover;
}

.theme--light.v-app-bar.v-toolbar.v-sheet {
  background-color: #272727;
  color: #{map-get($material-light, "white")};
}

.theme--light.v-btn:not(.v-btn--has-bg), .theme--light.v-icon {
  color: inherit;
}

.theme--light.v-sheet {
  background-color: rgba(255, 255, 255, 0.17);

  .v-card__title {
    background-color: rgba(255, 255, 255, 0.54);
  }
}

.theme--light.v-btn.v-btn--has-bg {
  background-color: #fee5bd;
  border: 1px solid #ecca92;
}

.v-dialog {
  background-color: #{map-get($material-light, "white")};
}

.theme--light.v-menu__content {
  background-color: #{map-get($material-light, "white")};
}

.v-toolbar-pollen-item {
  display: flex;
  align-items: center;
}

$pollen-row-padding: 8px 24px;

.v-card__title--dense {
  padding: $pollen-row-padding;
}

.row.row--separated-cols {
  & > .col:not(:last-child) {
    border-right: 1px solid #{map-get($material-light, "primary")};

    padding-right: 16px;
  }

  & > .col:not(:first-child) {
    border-left: 1px solid rgba(255, 255, 255, 0.5);

    padding-left: 16px;
  }
}

hr.hr--separated-rows {
  margin: 16px 16px;

  border-top: 1px solid #{map-get($material-light, "primary")};
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.v-card__title + .v-card__text.v-card__text--with-rows-highlighted {
  padding-top: 0px;
}

.v-card__text--with-rows-highlighted {
  padding: 0px;

  & > .row {
    margin: 0px;
    /* margin-left: 0px; */
    /* margin-right: 0px; */
    padding: $pollen-row-padding;
  }

  & > .row.row--highlighted {
    background-color: rgba(255, 255, 255, 0.1724);
    /* padding: 4px; */
  }
}

.pollen-attr-header {
  color: rgba(44, 34, 33, 0.7);
}

.theme--light.v-card {
  /* color: rgba(0, 0, 0, 0.87); */
  color: rgba(44, 34, 33, 1.0);
}
.theme--light.v-card > .v-card__text,
.theme--light.v-card > .v-card__subtitle {
  /* color: rgba(0, 0, 0, 0.6); */
  color: rgba(44, 34, 33, 1.0);
}

.v-input--checkbox--extruder-selection {
  padding: 0px;
  margin: 0px;
}

.v-card.v-card--highlighted {
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.34);
}

.w-100 {
  width: 100%;
}
