// See https://github.com/vuetifyjs/vuetify/blob/master/packages/vuetify/src/styles/settings/_variables.scss

$card-title-font-size: 1rem;
$card-subtitle-padding: 16px;
$card-adjacent-sibling-text-padding-top: $card-subtitle-padding;

$list-group-no-action-item-padding: 56px;
$list-item-action-icon-margin: 16px;
$list-item-dense-title-font-size: 0.9rem;
$list-item-dense-title-line-height: 1.1rem;

$body-font-family: 'Open Sans', sans-serif !default;

$border-radius-root: 0px;

$material-light: (
  'primary': #fa9901,
  'background': #fa9901,
  'navigation-drawer': rgba(255, 255, 255, 0.5),
  'buttons': (
    'focused': #fee5bd
  ),
  'white': #fff
);
